body{
    font-family:'Roboto',sans-serif;
    background-image:url(images/patt.png);
    
}
*{
    box-sizing: border-box;
}
.conteiner{
    width: 1200px;
    margin:  0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
.row{
    margin-left: -15px;
  

}

 .row:after, .menu::after, .conteiner::after {
    clear: both;
    display: block;
    content: "";
} 



[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.clear{
    padding-right: 0px;
}
.col-md-3{
    width: 25%;
}
.col-md-6{
    width: 50%;
}
.col-md-4
{
    width: 33.33333333333333%;
}
.col-md-8{
    width: 66.66666666666666%;
}
.col-md-9{
    width: 75%;
  
}
.col-md-12{
    width: 100%;
}
   
.header
{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0px;
}


.logo
{
    margin-top: 7px;
}
.search{
    position: relative;
    width: 75%;
    float: left;
    margin-top: 5px;
    overflow: hidden;
}
.cart{
    position: relative;
    margin-top: 5px;
    width: 25%;
    height: 40px;
    float: left;
}

.ShoppingСart{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;

    background-color: white;
 

}
.ShoppingСart a{
    padding: 8px 28px 13px 12px;
    
}




.ShoppingСart img{

width: 18px;
height: 20px;

position: absolute;
margin: auto;
left: 0;
top: 0;
bottom: 0;
right: 0;

}

.count{
    color: white;
    background-color: #2c71b8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top:-10px;
    left: -10px;
    text-align: center;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    z-index: 2;
}







.form{
display: block;
position: relative;
}

form{
    height: 40px;
}
form input{
    
    width: 100%;
    border:1px solid #2c71b8;
    background-color:rgba(202, 219, 237, 0);
    height: 100%;
    color:#2c71b8;
    font-family: 'Roboto', sans-serif;
    font-size:21px;
    padding-left: 15px;

}




::-webkit-input-placeholder {color:#2c71b8;font-family: 'Roboto', sans-serif;font-size:21px;}
::-moz-placeholder          {color:#2c71b8;font-family: 'Roboto', sans-serif;font-size:21px;}/* Firefox 19+ */
:-moz-placeholder           {color:#2c71b8;font-family: 'Roboto', sans-serif;font-size:21px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#2c71b8;font-family: 'Roboto', sans-serif;font-size:21px;}


.lupa{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 0px;
    margin: 5px;
    background-color: #2c71b8;
    
}
.lupa button img{
    width:14px;
    height: 12px;
    
    
}
.lupa button{
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    border: none;

}

.slider-conteiner{
    position: relative;
    text-align: center;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.363);
    border: 1px solid rgb(202, 219, 237);
}

#Slide-label{
    color: #ffffff;
    font-size: 100px;
    line-height: 400px;
    font-weight: 100;
}

.slide-row-bottom-conteiner{
    
    width: max-content;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;

}
.slide-row-bottom-conteiner::after{
clear: both;
display: block;
content: "";
}
.slide-row-bottom-conteiner [class*="slide"]{
    margin: 0px 10px 0px 10px;
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid white;
   
}


.slide-row-bottom-conteiner .active{
    background-color: white;
}


.slider-btn{
    position: absolute;
}

.slider-btn:first-child{
    left: calc(50% - 585px);
    top:50%;
    margin: -50px 0px;


}
.slider-btn:last-child{
    
    right:calc(50% - 585px);
    top:50%;
    margin: -50px 0px;
    

}

.slider-btn button{
    background-color: #fff0;
    padding: 0px;
    border: 0px;
}
.slider-btn img{
    width: 25px;
}




.filterpanel{
    margin-right: 15px;
    background-color: #568dc6;
    padding: 0px;
    height: 850px;
}






/* __________________________________Хлебные крошки_______________________________________ */
.breadcrumbs li{
    float: left;
    list-style: none;
    padding-left: 2px;
    padding-right: 2px;

}
.breadcrumbs li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 300;
    /* margin-top: 30px; */
    display: inline-block;
    
}

.breadcrumbs li a:hover{
text-decoration: underline;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 500;
}

.breadcrumbs{
    padding: 25px 0px;
    color: rgba(255, 255, 255, 0.5);
    
    
}
/* .breadcrumbs li:last-child+a{
color: teal;
   
} */

.breadcrumbs::after{
    clear: both;
    display: block;
    content: "";
}
/* ___________________________________________________________________________ */

/* _______________________________sort__________________________________________________ */


.sort{
 
    border: 1px solid white;
    margin: 15px 0px 15px 15px;
}

h2{
    color: white;
    font-family: 'Roboto', sans-serif;
   font-size: 48px;
   font-weight: bold;
   padding: 15px;
}
/* _______________________________sort__________________________________________________ */


/* _______________________________product__________________________________________________ */


.product-image{
    width: 100%;
    height: 180px;
    background-color: rgb(202, 219, 237);
}



.product-image {

    position: relative;  
}

.product-image img{
    position: absolute;
    top :0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.light-box{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #235a93;
    background-image: url("images/icon (8).png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;

    
 
}

.light-box:hover{
    background-color: #2c71b8;
    background-image: url("images/icon (6).png");


}
.like{
    position: absolute;
    top: 50px;
    right: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url("images/icon (5).png");
    background-size: 18px 17px;
    background-position: center;
    background-repeat: no-repeat;
  
}

.like:hover{
    background-color: #2c71b8;
    background-image: url("images/icon (7).png");

}








/* ________________________Products- body_____________________________________________ */

   .product-body{
       padding: 15px;
       height: 470px;
       background-color: #2c71b8;
       width: 100%;
       border: 1px solid #dadbdb;
       color: white;
       font-family:'Roboto',sans-serif;

    }
    .product{
margin-top: 15px;
margin-bottom: 15px;

    }

    .product-conteiner .col-md-4:nth-child(3n+3) {
        padding-right: 0px;
    }







/* Описание товара */

.product-body h3{
    font-size: 30px;
    font-weight: bold;
}

.product-body .description{
    height: 230px;
}
.product-body div{
    padding-bottom: 15px;
}

.description span{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;

}
.product-body .short-description{
    font-size: 21px;
   font-weight: 300px;
}


div .prise  {
    /* color: white;
    font-family:'Roboto',sans-serif; */
    font-size: 48px;
    font-weight: 700;
    width: max-content;
    padding: 23px 55px;
    
    

}

div .prise span{
    vertical-align: 20px;
    font-size: 30px;
    padding-left: 5px;
}
/* Полное описание  */

 .more-details{
    width: 210px;
    height: 50px;
   margin: 0px auto;
    

}
.more-details a{
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    color: white;
    /* font-family:'Roboto',sans-serif; */
    background-color: transparent;
    text-decoration: none;
    border: 1px solid white;
    height: 100%;
    line-height: 50px;

}

.more-details a:hover{

    color: #2c71b8;
    background-color: white;
  

}

.add-to-cart{
    position: relative;
    width: 210px;
    height: 50px;
    margin:  10px auto;

}

.add-to-cart a{
    width: 100%;
    height: 100%;
    background-color: #568dc6;
    color: white;
    font-weight: 700;
    display: block;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.add-to-cart a:active{

    color: white;
    font-size: 22px;


}

 .add-to-cart #add-to-cart_img{
     position: absolute;
     right: 20px;
     top: 15px; 

 }


 .descripshion-product-conteiner{
     
     
    color: white;
    font-family:'Roboto',sans-serif;

 }

 .no-pading-right{
     padding-right: 0px;
 }